.gate {
    margin: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;   
}

.placedGate {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}