.Toolbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    padding-left: 1rem;
    color: white;
    height: 95%;
}

.gates {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 5%;
}

.control-swap {
    display: flex;
    width: 100%;
}